</head>

<body>
    <nav>
        <i class="logo"> <a href="/">Eritrean Airline</a></i>
        <a class="add-flight" href="/flights/new" <%- title==='Add Flight' ? 'class="active"' : '' %>
            >
            ADD FLIGHT
        </a>

        <a class="add-meal" href="/meals/new" <%- title==='Add Meal' ? 'class="active"' : '' %>
            >
            ADD Meal
        </a>

        <a class="all-flights" href="/flights" <%- title==='All Flights' ? 'class="active"' : '' %>
            >
            ALL FLIGHTS
        </a>
    </nav>