form {
    background-color: rgb(153, 82, 51);
    width: 70%;
    margin: auto;
    padding: 25px;
}

label {
    font-size: 20px;
    text-align: start;
    font-weight: bolder;
    padding-right: 20px;

}

select,
input {
    background-color: rgb(27, 25, 25);
    color: rgb(252, 13, 252);
    font-style: italic;
    font-weight: bold;
    padding-left: 20px;
    margin: 10px;

}

button {
    background-color: green;
    border: none;
    color: white;
    font-style: italic;
    font-weight: bold;
    font-size: 15px;

}